<?xml version="1.0"?>
<config>
  <modules>
    <Knox_KnoxGateway>
      <version>0.1.0</version>
    </Knox_KnoxGateway>
  </modules>
  <global>
    <models>
      <KnoxGateway>
        <class>Knox_KnoxGateway_Model</class>
      </KnoxGateway>
    </models>
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <sendOrderEmails>
            <type>singleton</type>
            <class>Knox_KnoxGateway_Model_Observer</class>
            <method>sendOrderEmails</method>
          </sendOrderEmails>
        </observers>
      </checkout_onepage_controller_success_action>
    </events>
    <helpers>
      <KnoxGateway>
        <class>Knox_KnoxGateway_Helper</class>
      </KnoxGateway>
    </helpers>
    <blocks>
      <KnoxGateway>
        <class>Knox_KnoxGateway_Block</class>
      </KnoxGateway>
    </blocks>
  </global>
  <default>
    <payment>
      <KnoxGateway>
        <model>KnoxGateway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Knox Gateway</title>
        <payment_action>sale</payment_action>
        <sort_order>1</sort_order>
        <invoice_detail>custom_detail_no_spaces_permitted</invoice_detail>
        <title>Pay with My Bank</title>
      </KnoxGateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <KnoxGateway>
        <use>standard</use>
        <args>
          <module>Knox_KnoxGateway</module>
          <frontName>KnoxGateway</frontName>
        </args>
      </KnoxGateway>
    </routers>
  </frontend>
</config>
